@using NewslwtterAppMVC.Models
@model List<SignupVm>

@*
     @model List<SignupVm>

    Stuck on newsletter Mvc video 10 about seven minutes in
    won't take my viewModel output.
     My projec is misspelled but it does match
     I think it is a using statement somewhere

*@



<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign Ups</h5>

        </div>
        <div class="card-body">

            @foreach (var LoopData in Model)
            {
                <div class="row">
                    <div class="col">
                        @LoopData.FirstName
                    </div>
                    <div class="col">
                        @LoopData.LastName

                    </div>
                    <div class="col">
                        @LoopData.EmailAddress

                    </div>
                </div>

            }



        </div>
    </div>
</div>